<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <queries>
        <package android:name="jp.viastrasse.homestrasse" />
        <package android:name="jp.viastrasse.mailstrasse" />
        <package android:name="jp.viastrasse.taskstrasse" />
        <package android:name="jp.viastrasse.atelierstrasse" />
        <package android:name="jp.viastrasse.notifystrasse" />
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="strasse" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/CabinetTheme">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="strasse" android:host="cabinet" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ShareReceiverActivity"
            android:exported="true"
            android:theme="@style/CabinetTheme">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ViewerActivity"
            android:exported="false"
            android:theme="@style/CabinetTheme" />

        <provider
            android:name=".integration.CabinetHomeSummaryProvider"
            android:authorities="jp.viastrasse.cabinetstrasse.provider.home"
            android:exported="true" />

        <provider
            android:name=".integration.CabinetSearchProvider"
            android:authorities="jp.viastrasse.cabinetstrasse.provider.search"
            android:exported="true" />

        <provider
            android:name=".integration.CabinetEventProvider"
            android:authorities="jp.viastrasse.cabinetstrasse.provider.events"
            android:exported="true" />

        <provider
            android:name=".integration.CabinetSaveProvider"
            android:authorities="jp.viastrasse.cabinetstrasse.provider.save"
            android:exported="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="jp.viastrasse.cabinetstrasse.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>
